## Label Encoding

Label encoding involves assigning a unique numerical label to each category in the variable.The labels are assigned in Alphabetical order or

based on the fequency of the categories

In [2]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
import seaborn as sns

In [4]:
#create a df
df=pd.DataFrame(
    {
        'color':['red','blue','green','green','red','blue']
    }
)
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [5]:
from sklearn.preprocessing import LabelEncoder

# create an instance
lbl_encoder=LabelEncoder()

#Perform fit and transform
lbl_encoder.fit_transform(df[['color']])

/Users/ashikacherikkaparambath/Desktop/Datascience/venv/lib/python3.9/site-packages/sklearn/preprocessing/_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 1, 2, 0])

b has assigned to 0, green 1,red 2 as per alphabatical order

In [9]:
#for new value
lbl_encoder.transform([['red']])

/Users/ashikacherikkaparambath/Desktop/Datascience/venv/lib/python3.9/site-packages/sklearn/preprocessing/_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([2])

drawbacks: label encoding assigns integer value to ech categories, which can imply an order or magnitude that does not exist in the data.

Here, this encoding suggest that green is somwhow "greater than" blue and red is greater than green since numerical value is higher

## Ordinal Encoding

It is used to encode categorical sata that have an intrinsic Order or Ranking.

Each Category is assigned a numerical value based on its position in the order.

In [10]:
from sklearn.preprocessing import  OrdinalEncoder

In [12]:
#create a df

df2=pd.DataFrame({
    'size':['small','medium','large','medium','small','large']
})
df.head()

     size
0   small
1  medium
2   large
3  medium
4   small

In [25]:
#create an instance of ordinal encoder and perform fit and transform

Ordinal_encoder=OrdinalEncoder(categories=[['small','medium','large']])
encoded_values=Ordinal_encoder.fit_transform(df2[['size']])
encoded_values

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])

In [26]:
#create a df for new encoded values
Ordinal_encoder_df=pd.DataFrame(encoded_values,columns=Ordinal_encoder.get_feature_names_out())
Ordinal_encoder_df

   size
0   0.0
1   1.0
2   2.0
3   1.0
4   0.0
5   2.0

In [27]:
pd.concat([df2,Ordinal_encoder_df],axis=1)

     size  size
0   small   0.0
1  medium   1.0
2   large   2.0
3  medium   1.0
4   small   0.0
5   large   2.0

In [28]:
# for new data
Ordinal_encoder.transform([['small']])

/Users/ashikacherikkaparambath/Desktop/Datascience/venv/lib/python3.9/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[0.]])